{% extends 'app/base.html' %}
{% load static %}

{% block title %}
  <title>{{product.name}}</title>
{% endblock title %}

{% block navbar %}
  {% include  'app/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <div class="col-md-4">
    <h2>{{ product.name }}</h2>
    <img src="{{ product.image.url }}" width="180">
    <p>{{product.text}}</p>
    {% include 'app/add-to-cart.html' %}
  </div>
  <hr>
  <h3>Отзовы:</h3>
  {% for review in reviews %}
    <div class="card">
      <div class="card-header">
        {% for star in stars %}
          {% if star <= review.rating %}
            <img src="{%static 'app/star_solid.svg'%}" alt="" width="18" height="18">
          {% else %}
            <img src="{%static 'app/star.svg'%}" alt="" width="18" height="18"> 
          {% endif %}
        {% endfor %}
        <p>{{review.user}}</p>
      </div>
      <div class="card-body">
        {{review.text}}
      </div>
    </div>
  {% empty %}
    <div class="alert alert-dark" role="alert">
      Пока отзывов нет      
    </div>
  {% endfor %}
<hr>
{{user.id}}
{% endblock content %}